<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome to The Ebook Store</title>
</head>
<body>
<h1>Ebook Store App</h1>

<div class="container">
    <div class="row">
        <th:block th:each="ebook: ${ebooks}">
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">


                    <div class="card-body">

                        <h5 class="card-title" th:text="${ebook.title}">Ebook title</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${ebook.genre}">Ebook genre</h6>
                        <a th:href="@{/ebooks/details/__${ebook.id}__}">
                            <img th:src="@{/uploads/__${ebook.coverUrl}__}" width="80%"/>
                            <!--  class="card-img-top" alt="..."-->
                        </a>
                        <p class="card-text" th:text="${ebook.description}">Ebooks description</p>
                        <div class="container">
                            <div class="row">
                                <a href="#" class="btn btn-primary col-6">Add to cart</a>
                                <h6 class="mx-auto" th:text="${ebook.sellingPrice} + 'zł'">Price</h6>
                                <!--                                zmienić wyświetlanie ceny na format 15.00-->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </th:block>


    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>